{% extends 'base.html' %}
{% load static %}
{% block page-title %}Calculadora{% endblock%}
{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                    Calculadora de Prazo TJSP
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Calculadora de Prazo TJSP</h4>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation" action="." method="POST" novalidate>
                            {% csrf_token %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>{% if field.label %}{{field.label|escape}}: {% endif %} {{ error|escape }}</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{% if field.label %}{{field.label|escape}}: {% endif %} {{ error|escape }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Evento</label>
                                        <input type="type" class="form-control" name="evento" id="evento" placeholder="Insira o evento" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Publicação</label>
                                        <div class="input-icon mb-2">
                                            <input class="form-control" placeholder="Selecione uma data" id="publisherDate"  name="publisherDate" required />
                                            <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Prazo</label>
                                        <input type="type" class="form-control js-number" name="prazo" id="prazo" placeholder="Prazo de entrada" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Dias Corridos</label>
                                        <input type="text" class="form-control" name="calendarDate" id="calendarDate" placeholder="Dias Corridos" required readonly />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Dias Úteis (sem contar feriados)</label>
                                        <input type="text" class="form-control" name="businessDate" id="businessDate"  placeholder="Dias Úteis (sem contar feriados)" required readonly />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">Dias Úteis c/ Feriado + TJSP</label>
                                        <input type="text" class="form-control" name="businessHolidayDate" id="businessHolidayDate" placeholder="Dias Úteis c/ Feriado + TJSP" required readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Simular</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'libs/litepicker/dist/litepicker.js' %}" defer></script>
<script src="{% static 'js/moment/min/moment.min.js' %}"></script>
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
    	window.Litepicker && (new Litepicker({
    		element: document.getElementById('publisherDate'),
    		buttonText: {
    			previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
    			nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
    		},
    	}));
    });
    // @formatter:on
</script>
<script>
    var curdate = moment(new Date()).format("YYYY-MM-DD");
    $("#publisherDate").val(curdate);
    $(".js-number").keydown(function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault(); 
    });
    $("#prazo").keyup(function(e) {
        if ($("#prazo").val() !== "" && $("#publisherDate").val() !== "") {
            console.log($("#prazo").val(), $("#publisherDate").val())
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "calcprazo:get-calc-data" %}',
                data: {
                    publisherDate: $("#publisherDate").val(),
                    prazo: $("#prazo").val()
                },
                type: 'POST',
                success: function (data) {
                    $("#calendarDate").val(data.calendarDate);
                    $("#businessDate").val(data.businessDate);
                    $("#businessHolidayDate").val(data.businessHolidayDate);
                }
            });
        }
    });
</script>
{% endblock %}