{% extends 'base.html' %}
{% load static %}
{% block page-title %}Feriados{% endblock%}
{% block css%}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                    Feriados
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="javascript:void(0);" class="btn btn-primary feriadoAdd">
                        Adicionar
                    </a>
                  </span>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Feriados</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive pt-1">
                            <table id="datatable" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>data feriado</th>
                                        <th>feriado</th>
                                        <th>provimento</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 {% for feriado in feriados %}
                                    <tr>
                                        <td class="align-middle">{{feriado.data_feriado|date:"d/b./Y"|default_if_none:""}}</td>
                                        <td class="align-middle">{{feriado.feriado|default_if_none:""}}</td>
                                        <td class="align-middle">
                                            {% if feriado.provimento == 'F' %}
                                            Feriado
                                            {% elif feriado.provimento == 'P' %}
                                            Provimento
                                            {% elif feriado.provimento == 'I' %}
                                            Indisponibilidade
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">
                                            <a href="javascript:void(0);" onclick="updateFeriado('{{feriado.id}}')" title="Edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                                    <path d="M16 5l3 3"></path>
                                                </svg>
                                            </a>
                                            <a href="javascript:void(0);" onclick="deleteFeriado('{{feriado.id}}')" title="Delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <line x1="4" y1="7" x2="20" y2="7"></line>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                 </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
            <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                <h3>Tem certeza?</h3>
                <div class="text-muted">
                    Deseja realmente remover o registro?
                </div>
                <input type="hidden" id="del_id" value="-1">
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <a href="javascript:void(0);" class="btn w-100" data-bs-dismiss="modal">
                                Cancelar
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0);" class="btn btn-danger w-100" id="del_confirm">
                                Excluir 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="feriadoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="head_title">Atualizar Feriado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" id="FeriadoForm">
                {% csrf_token %}
                <div id="text_error" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                </div>
                <div class="mb-3">
                    <label class="form-label">Feriado</label>
                    <input type="text" class="form-control" name="feriado" id="feriado" placeholder="Feriado" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Data feriado</label>
                    <input type="text" class="form-control" name="dataFeriado" id="dataFeriado" placeholder="Data feriado" required />
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Provimento</label>
                    <select class="form-select" id="provimento" required />
                        <option value="F" selected>Feriado</option>
                        <option value="P">Provimento</option>
                        <option value="I">Indisponibilidade</option>
                    </select>
                </div>
                <input type="hidden" id="feriadoid" value="-1" />
            </form>

        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancelar
          </a>
          <a href="javascript:void(0);" class="btn btn-primary ms-auto feriado_btn">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                Atualizar
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script>
    $("#text_error").hide();
    $("#datatable").DataTable({
        ordering: false,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese.json"
        },
    });
    function deleteFeriado(id) {
        $("#del_id").val(id);
        $("#modal-delete").modal('show')
    }
    function updateFeriado(id) {
        $("#feriadoid").val(id);
        $("#head_title").html('Atualizar Feriado');
        $(".feriado_btn").html('Atualizar');
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "calcprazo:ajax_get_feriado" %}',
            data: {
                feriadoid: $("#feriadoid").val(),
            },
            type: 'POST',
            success: function (data) {
                $("#feriado").val(data.feriado);
                $("#provimento").val(data.provimento);
                $("#dataFeriado").val(data.dataFeriado); 
                $('#dataFeriado').datepicker('setDate', data.dataFeriado)
            }
        });
        $("#feriadoModal").modal('show')
    }
    $("#del_confirm").on('click', function(event){
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "calcprazo:ajax_delete_feriado" %}',
            data: {
                'feriado_id': $("#del_id").val(),
            },
            type: 'POST',
            success: function (data) {
                if (data.status == "ok") {
                    location.reload(); 
                }
            }
        });
        $('#deletModal').modal('hide');
    });
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    $(".feriadoAdd").on('click', function(e) {
        $("#head_title").html('Adicionar Feriado');
        $(".feriado_btn").html('Adicionar');
        $("#feriadoid").val("-1");
        $("#feriado").val("");
        $("#provimento").val("");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = monthNames[today.getMonth()]; 
        var yyyy = today.getFullYear();
        $('#dataFeriado').datepicker('setDate', yyyy + "-" + mm + "-" + dd)
        $("#feriadoModal").modal('show');
    });
    $(".feriado_btn").on('click', function(e) {
        var form = $("#FeriadoForm");
		if (form[0].checkValidity() === false) {
			event.preventDefault();
			event.stopPropagation();
			form.addClass('was-validated');
			return;
		} 
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "calcprazo:ajax_add_feriado" %}',
            data: {
                feriadoid: $("#feriadoid").val(),
                feriado: $("#feriado").val(),
                provimento: $("#provimento").val(),
                dataFeriado: $("#dataFeriado").val()
            },
            type: 'POST',
            success: function (data) {
                if(data.status=="Success"){
                    $("#text_error").hide();
                    location.reload();
                } else {
                    $("#text_error").html(data.messages);
                    $("#text_error").show();
                }
            }
        });
    });
</script>
<script>
    $('#dataFeriado').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: 'yyyy-mm-dd',
    });
    var curdate = moment(new Date()).format("YYYY-MM-DD");
    $("#dataFeriado").val(curdate);

</script>
{% endblock %}